.spotify {
  background: rgba(0, 0, 0, 0.85);
  height: 100vh;
  display: flex;
  gap: 10px;
}

.sidebar {
  flex: 2;
  height: 100% !important;
}

.body {
  flex: 8;
  border-radius: 30px;
  padding: 30px;
}
