.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .search {
  width: 500px;
}
.navbar .search input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 20px;
}

.user {
  padding: 8px 15px;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 20px;
  background-color: #062d15;
  color: #fff;
}
