.sidebar-inner {
  background: #000000db;
  color: #ffff;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 30px;
}

.sidebar-inner .logo {
  width: 100px;
  display: block;
  margin-bottom: 20px;
}
.sidebar-inner .logo img {
  width: 100%;
  filter: invert(1);
}
.sidebar-inner .list {
  list-style: none;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(24, 24, 24) !important;
}
.sidebar-inner .list li {
  display: flex;
  gap: 10px;
  margin-block: 8px;
  font-size: 16px;
  font-weight: 200;
  align-items: center;
}

.sidebar-inner svg {
  width: 20px;
  height: 20px;
}
